/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

$black: #000000de;
$blue: #4285F4;
$red: #EA4335;
$yellow: #FBBC05;
$green: #34A853;
$lightgrey: #f8f9fa;
$darkgrey: #3c4043;
$footer: #f2f2f2;

html {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    ul {
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 25px;
        padding: 20px;
        margin-right: 60px;
    }
}

a {
    font-size: 14px;
    text-decoration: none;
    color: $black;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    font-size: 14px;
    color: $black;
    form {
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        #logo {
            font-weight: 900;
            font-size: 90px;
            font-family: Product Sans, sans-serif;
            :nth-child(1) { color: $blue;}
            :nth-child(2) { color: $red;}
            :nth-child(3) { color: $yellow;}
            :nth-child(4) { color: $blue;}
            :nth-child(5) { color: $green;}
            :nth-child(6) { color: $red;}
        }
        .search {
            height: 46px;
            width: 90%;
            max-width: 580px;
            border: 1px solid lightgrey;
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 10px;
            svg {
                height: 20px;
                width: 20px;
                color: darkgray;
            }
            input {
                border: none;
                flex: 1;
            }
            input:focus {
                outline: none;
            }
        }
        .search:hover {
            -webkit-box-shadow:0px 0px 10px 0px lightgrey;
            -moz-box-shadow: 0px 0px 10px 0px lightgrey;
            box-shadow: 0px 0px 10px 0px lightgrey;
        }
        .buttons {
            margin-top: 20px;
            input {
                background-color: $lightgrey;
                border: 1px solid $lightgrey;
                border-radius: 4px;
                color: $darkgrey;
                font-family: Roboto,arial,sans-serif;
                margin: 11px 4px;
                padding: 0 16px;
                line-height: 27px;
                height: 36px;
                min-width: 54px;
                text-align: center;
                cursor: pointer;
            }
            input:hover {
                box-shadow: 0 1px 1px rgba(0,0,0,.1);
                border: 1px solid #dadce0;
            }
        }
    }
}

footer {
    font-size: 14px;
    color: $black;
    text-align: center;
    padding: 20px;
    background-color: $footer;
}

